# Node.js & npm
node_modules
dist
.npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
*.tgz

# Vite
.vite/
.parcel-cache
*.local

# TypeScript
*.tsbuildinfo

# Environment Variables
.env
.env.*
!.env.example

# Editor Directories
.vscode/
.idea/

# OS-specific
.DS_Store
*.AppleDouble
._*
Thumbs.db

# Test & Coverage
coverage
.nyc_output
*.lcov

# Project Specific
sophia-community-requirements.md
Icon
Icon?
Icon\r
